.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6rem;
  background-color: var(--background-color);
  z-index: 100;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logoTitle {
  margin-left: 12px;
  font-size: 2rem;
}
.link {
  display: inline-block;
  position: relative;
  color: var(--font-color);
  font-size: 1.6rem;
}
.link:not(:last-child) {
  margin-right: 60px;
}
.link:hover,
.link:focus {
  color: var(--main-font-color);
}
.link.selected {
  color: var(--main-font-color);
}
.link.selected::after {
  content: "";
  margin-bottom: -1.6rem;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 3px solid;
  border-image: linear-gradient(
      270deg,
      var(--gradient-from-color) 0%,
      var(--gradient-to-color) 96.35%
    )
    1;
}
.menuButton {
  display: none;
}
.menuIcon {
  width: 36px;
  fill: var(--main-font-color);
  padding: 0.25em;
  transition: fill 0.2s;
}
@media (max-width: 700px) {
  .navbar {
    padding: 1.2rem 3rem;
  }
  .link {
    font-size: 2rem;
  }
  .menuButton {
    display: block;
  }
  .navigation {
    display: none;
  }
}
