.root {
  position: relative;
  pointer-events: none;
  padding: 20px 32px 16px 32px;
  width: clamp(30vw, 400px, 568px);
  border-radius: 10px;
  top: 100px;
  bottom: 80px;
  left: 60px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
}

.name {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.75px;
}

.closeButton {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  pointer-events: all;
}

.closeIcon {
  width: 24px;
  fill: rgba(255, 255, 255, 0.8);
  padding: 0.25em;
  transition: fill 0.2s;
}

.closeIcon:hover {
  fill: rgba(255, 255, 255, 1);
}
.link {
  width: fit-content;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #a1a8c2;
  border-bottom: 2px solid #e323ff;
  pointer-events: all;
}
.link:hover,
.link:focus {
  color: var(--main-font-color);
  border-bottom: 2px solid #7517f8;
}
.link:not(:last-child) {
  margin-bottom: 12px;
}
