.nodesCountCard {
  width: fit-content;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 1rem;
}
.nodesCountTitle {
  font-size: 1.6rem;
}
.nodesCount {
  font-size: 3.4rem;
  font-weight: 800;
}
