.widgetContainer {
  width: fit-content;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 1rem;
}
.widgetContainer:not(:last-child) {
  margin-right: 24px;
}
.widgetTitle {
  font-size: 1.6rem;
  white-space: nowrap;
}
.widgetValue {
  font-size: 3.4rem;
  font-weight: 800;
}
