.button {
  width: fit-content;
  color: #4da1ff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: start;
}
.button:hover,
.button:focus {
  color: #4dffdf;
  text-decoration: underline;
}
.button:not(:last-child) {
  margin-right: 6px;
}
