@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --main-background-color: #05050f;
  --background-color: #191932;
  --main-font-color: #ffffff;
  --font-color: #6a6a9f;
  --gradient-to-color: #4dffdf;
  --gradient-from-color: #4da1ff;
}
html {
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  height: 100%;
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: unset;
  padding: 0;
}
@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
