.pageContainer {
  height: 100%;
  padding: 4.2rem 6rem;
  position: relative;
  overflow: auto;
}
.content {
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logoTitle {
  margin-left: 12px;
  font-size: 4.8rem;
}
.description {
  font-size: 2.4rem;
}
.buttonsContainer {
  margin-top: 24px;
  display: flex;
}
.button {
  width: fit-content;
  padding: 2rem 6rem;
  font-size: 1.8rem;
  color: var(--main-font-color);
  background-color: #00239d;
  border: none;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.button:hover,
.button:focus {
  background-color: #023aff;
}
.button:not(:last-child) {
  margin-right: 60px;
}
.secondaryButton {
  color: #a1a8c2;
  background-color: transparent;
  border: 2px solid #00239d;
  cursor: pointer;
}
.secondaryButton:hover,
.secondaryButton:focus {
  color: var(--main-font-color);
  background-color: transparent;
  border: 2px solid #023aff;
}
.descriptionItem {
  margin-bottom: 24px;
}
.imageContainer {
  width: 600px;
  height: 600px;
  margin: auto;
  position: absolute;
  right: 60px;
  top: 60px;
}
