.pageContainer {
  height: 100%;
  padding: 4.2rem 6rem;
  position: relative;
  overflow: auto;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.descriptionContainer {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logoTitle {
  margin-left: 12px;
  font-size: 4.8rem;
}
.description {
  font-size: 2.4rem;
}
.buttonsContainer {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}
.descriptionItem {
  margin-bottom: 24px;
}
.imageContainer {
  width: 600px;
  height: 600px;
  margin: auto;
  position: fixed;
  right: 60px;
  top: 60px;
  z-index: -1;
}
.widgets {
  height: fit-content;
  display: flex;
  overflow-x: auto;
}

@media (max-height: 860px) {
  .content {
    height: fit-content;
  }
}

@media (max-width: 700px) {
  .pageContainer {
    padding: 6rem 3rem;
  }
  .logoContainer {
    display: none;
  }
  .descriptionContainer {
    max-width: 100%;
  }
  .imageContainer {
    display: none;
  }
  .buttonsContainer {
    flex-direction: column;
  }
}
