.homeTreeLink {
  position: absolute;
  top: 100px;
  right: 60px;
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  white-space: nowrap;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #a1a8c2;
  background-color: var(--main-background-color);
  border: 2px solid #7517f8;
  z-index: 10;
}
.homeTreeLink:hover,
.homeTreeLink:focus {
  color: var(--main-font-color);
  border: 2px solid #e323ff;
}
