.absoluteContainer {
  position: absolute;
  top: 100px;
  right: 60px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-end;
  z-index: 10;
}

.homeTreeLink {
  width: fit-content;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  white-space: nowrap;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #a1a8c2;
  background-color: #05050fca;
  border: 2px solid #7517f8;
}
.homeTreeLink:hover,
.homeTreeLink:focus {
  color: var(--main-font-color);
  border: 2px solid #e323ff;
}
.treeRootNameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #05050fca;
  box-shadow: 0px 0px 100px 100px #05050fca;
}
.treeRootName {
  color: #ffffffc4;
  font-size: 2rem;
}
.treeRootTitle {
  color: #a1a8c2;
  font-size: 1.4rem;
}
@media (max-width: 700px) {
  .homeTreeLink {
    top: 70px;
    right: 5vw;
  }
  .absoluteContainer {
    top: 80px;
    right: 24px;
  }
}
